<nav class="navigation container">
    <div class="nav-brand">D.S.C. VIT PUNE</div>
    <ul class="list-non-bullet nav-pills ">

        <li class="list-item-inline">
            <a class="link " href="http://localhost:5000/team">Home</a>
        </li>
        <li class="list-item-inline">
            <a class="link link-active" href="http://localhost:5000/eventsPage">Events</a>
        </li>
        <li class="list-item-inline">
            <a class="link" href="about.html">About</a>
        </li>
    </ul>
</nav>
