{{> navbar}}
<!-- MEMBERS -->
<!-- Members -->
<div class="aligncard">
    <!-- Team lead -->
    <div class="cardbody">
        <div class="newcontainer">
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img
                            src="https://raw.githubusercontent.com/Jhonierpc/WebDevelopment/master/CSS%20Card%20Hover%20Effects/img/code_128.png">
                        <h3>Team Lead</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>lorem lorem lorem lorem lorem lorem lorem lorem </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Other members -->
    <div class="row">
        <div class="column">
            <div class="cardbody1">
                <div class="newcontainer1">
                    <div class="card">
                        <div class="face face1">
                            <div class="content">
                                <img
                                    src="https://raw.githubusercontent.com/Jhonierpc/WebDevelopment/master/CSS%20Card%20Hover%20Effects/img/code_128.png">
                                <h3>Member1</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>lorem lorem lorem lorem lorem lorem lorem lorem </p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="column">
            <div class="cardbody2">
                <div class="newcontainer2">
                    <div class="card">
                        <div class="face face1">
                            <div class="content">
                                <img
                                    src="https://raw.githubusercontent.com/Jhonierpc/WebDevelopment/master/CSS%20Card%20Hover%20Effects/img/code_128.png">
                                <h3>Member2</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>lorem lorem lorem lorem lorem lorem lorem lorem </p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="cardbody3">
                <div class="newcontainer3">
                    <div class="card">
                        <div class="face face1">
                            <div class="content">
                                <img
                                    src="https://raw.githubusercontent.com/Jhonierpc/WebDevelopment/master/CSS%20Card%20Hover%20Effects/img/code_128.png">
                                <h3>Member3</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>lorem lorem lorem lorem lorem lorem lorem lorem </p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="cardbody4">
                <div class="newcontainer4">
                    <div class="card">
                        <div class="face face1">
                            <div class="content">
                                <img
                                    src="https://raw.githubusercontent.com/Jhonierpc/WebDevelopment/master/CSS%20Card%20Hover%20Effects/img/code_128.png">
                                <h3>Member4</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>lorem lorem lorem lorem lorem lorem lorem lorem </p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>




<!-- Footer -->
<footer class="footer">
    <div class="footer-header">
        D.S.C. VIT PUNE
    </div>
    <ul class="social-links lists-non-bullet">
        <img class="footer-img" src="Portfolio.svg">
        <li class="list-item-inline">
            <a class="link" href="">

                <i class="socicon"><img src="github.svg"></i></a>
        </li>
        </li>
        <li class="list-item-inline">
            <a class="link" href="">

                <i class="socicon"><img src="linkedin.svg"></i></a>
        </li>
        </li>
        <li class="list-item-inline">
            <a class="link" href="">
                <i class="socicon"><img src="twitter.svg"></i>
            </a>
        </li>
        </li>
        <hr>
        <div class="bottom">
            Mission: Connect | Learn | Grow
        </div>
    </ul>
</footer>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
