/* body {
  background-color: rgb(247, 234, 210);
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

input[type="text"] {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid dimgray;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.card {
  background-color: white;
  box-shadow: 0px 0px 40px -10px rgb(110, 109, 109);
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
  border-radius: 20px;
  align-items: center;
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 2.2rem;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.formInputs {
  width: 80%;
}

.formInputs input {
  width: 90%;
}

.input {
  padding: 5px;
  font-size: 1.15rem;
  width: 100%;
  margin: 10px 0px;
}
.label {
  margin: 0;
  font-size: 0.87rem;
}

.signUpBtn {
  border-radius: 8px;
  padding: 8px 20px;
  margin-top: 10px;
  font-size: 1.1rem;
  border-style: none;
  background-color: #3f6bdc;
  color: white;
  font-family: sans-serif;
}

.submitAction {
  display: flex;
  justify-content: center;
}

.signUpBtn:hover {
  cursor: pointer;
  background-color: #638aed;
}

.switch {
  font-size: 0.85rem;
  margin-top: 20px;
}

.switch a {
  color: #3f6bdc;
  font-weight: bold;
}

.switch a:visited {
  color: #3f6bdc;
  font-style: none;
} */

/* errors partial */
/* .error-container {
  display: flex;
  flex-direction: row;
  background-color: #ff969c;
  border-top: 2px solid #ff4953;
  border-bottom: 2px solid #ff4953;
  padding: 5px;
}

.error-message {
  margin: 0;
} */

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');
:root {
      --primary-color:#6B7280;
      --off-white:#5793f3;
      --dark-gray:#FCD34D;
     
  }
  
  body {
    font-family: 'Zilla Slab', serif;
      margin:auto;
      width: auto;
      /* justify-content:center; */
      /* margin:0em 0em 0em 8em; */
      /* overflow-x:hidden ; */
          /* background-color: #333; */
          background-color: #333;
         
          
  
  
         
}
/* Card component for members */
.cardbody{
    background-color: #333;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1.3rem;
    font-family: 'Zilla Slab', serif;
}
.newcontainer .card {
    cursor: pointer;
}
.newcontainer .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
.newcontainer .card .face.face1 {
    background-color: #333;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100px);
    z-index: 1;
}
.newcontainer .card:hover .face.face1 {
    background-color: #ff0057;
    transform: translateY(0);
}
.newcontainer .card .face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
}
.newcontainer .card:hover .face.face1 .content {
    opacity: 1;
}
.newcontainer .card .face.face1 .content img {
    max-width: 100px;
}
.newcontainer .card .face.face1 .content h3 {
    text-align: center;
    font-size: 1.5em;
    color: white;
    margin-bottom: 0;
}
.newcontainer .card .face.face2 {
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}
.newcontainer .card:hover .face.face2  {
    transform: translateY(0);
}
.newcontainer .card .face.face2 .content a {
    text-decoration: none;
    border: 1px solid #333;
    color: #333;
    font-weight: 900;
    padding: 5px;
}
.newcontainer .card .face.face2 .content a:hover {
    background-color: #333;
    color: #fff;
}

/* Member 2 */
/* Float four columns side by side */
.aligncard{
    box-sizing: border-box;
    
}
/* .column {
    float: left ;
    width: 75%;
    padding: 0em 0em 0em 0em;
    
    border:magenta 2px solid;
  } */
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.cardbody1{
    background-color: #333;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1.3rem;
    font-family: 'Zilla Slab', serif;
}
.newcontainer1 .card {
    cursor: pointer;
}
.newcontainer1 .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
    
}
.newcontainer1 .card .face.face1 {
    background-color: #333;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100px);
    z-index: 1;
}
.newcontainer1 .card:hover .face.face1 {
    background-color: #ff0057;
    transform: translateY(0);
}
.newcontainer1 .card .face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
}
.newcontainer1 .card:hover .face.face1 .content {
    opacity: 1;
}
.newcontainer1 .card .face.face1 .content img {
    max-width: 100px;
   
}
.newcontainer1 .card .face.face1 .content h3 {
    text-align: center;
    font-size: 1.5em;
    color: white;
    margin-bottom: 0;
}
.newcontainer1 .card .face.face2 {
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}
.newcontainer1 .card:hover .face.face2  {
    transform: translateY(0);
}
.newcontainer1 .card .face.face2 .content a {
    text-decoration: none;
    border: 1px solid #333;
    color: #333;
    font-weight: 900;
    padding: 5px;
}
.newcontainer1 .card .face.face2 .content a:hover {
    background-color: #333;
    color: #fff;
}
/* Member 3*/
.cardbody2{
    background-color: #333;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1.3rem;
    font-family: 'Zilla Slab', serif;
}
.newcontainer2 .card {
    cursor: pointer;
}
.newcontainer2 .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
.newcontainer2 .card .face.face1 {
    background-color: #333;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100px);
    z-index: 1;
}
.newcontainer2 .card:hover .face.face1 {
    background-color: #ff0057;
    transform: translateY(0);
}
.newcontainer2 .card .face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
}
.newcontainer2 .card:hover .face.face1 .content {
    opacity: 1;
}
.newcontainer2 .card .face.face1 .content img {
    max-width: 100px;
}
.newcontainer2 .card .face.face1 .content h3 {
    text-align: center;
    font-size: 1.5em;
    color: white;
    margin-bottom: 0;
}
.newcontainer2 .card .face.face2 {
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}
.newcontainer2 .card:hover .face.face2  {
    transform: translateY(0);
}
.newcontainer2 .card .face.face2 .content a {
    text-decoration: none;
    border: 1px solid #333;
    color: #333;
    font-weight: 900;
    padding: 5px;
}
.newcontainer2 .card .face.face2 .content a:hover {
    background-color: #333;
    color: #fff;
}

/* Member 4*/
.cardbody3{
    background-color: #333;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1.3rem;
    font-family: 'Zilla Slab', serif;
}
.newcontainer3 .card {
    cursor: pointer;
}
.newcontainer3 .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
.newcontainer3 .card .face.face1 {
    background-color: #333;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100px);
    z-index: 1;
}
.newcontainer3 .card:hover .face.face1 {
    background-color: #ff0057;
    transform: translateY(0);
}
.newcontainer3 .card .face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
}
.newcontainer3 .card:hover .face.face1 .content {
    opacity: 1;
}
.newcontainer3 .card .face.face1 .content img {
    max-width: 100px;
}
.newcontainer3 .card .face.face1 .content h3 {
    text-align: center;
    font-size: 1.5em;
    color: white;
    margin-bottom: 0;
}
.newcontainer3 .card .face.face2 {
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}
.newcontainer3 .card:hover .face.face2  {
    transform: translateY(0);
}
.newcontainer3 .card .face.face2 .content a {
    text-decoration: none;
    border: 1px solid #333;
    color: #333;
    font-weight: 900;
    padding: 5px;
}
.newcontainer3 .card .face.face2 .content a:hover {
    background-color: #333;
    color: #fff;
}

/* Member 5*/
.cardbody4{
    background-color: #333;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1.3rem;
    font-family: 'Zilla Slab', serif;
    /* border:magenta 2px ; */
}
.newcontainer4 .card {
    cursor: pointer;
}
.newcontainer4 .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
.newcontainer4 .card .face.face1 {
    background-color: #333;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100px);
    z-index: 1;
}
.newcontainer4 .card:hover .face.face1 {
    background-color: #ff0057;
    transform: translateY(0);
}
.newcontainer4 .card .face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
}
.newcontainer4 .card:hover .face.face1 .content {
    opacity: 1;
}
.newcontainer4 .card .face.face1 .content img {
    max-width: 100px;
}
.newcontainer4 .card .face.face1 .content h3 {
    text-align: center;
    font-size: 1.5em;
    color: white;
    margin-bottom: 0;
}
.newcontainer4 .card .face.face2 {
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}
.newcontainer4 .card:hover .face.face2  {
    transform: translateY(0);
}
.newcontainer4 .card .face.face2 .content a {
    text-decoration: none;
    border: 1px solid #333;
    color: #333;
    font-weight: 900;
    padding: 5px;
}
.newcontainer4 .card .face.face2 .content a:hover {
    background-color: #333;
    color: #fff;
}





/* container */
.container {
padding: 0rem 1rem;
}


.container-center {
    max-width: 600px;
    margin: auto;
    color:white;
}
 .container-align{
    max-width: 600px;
    margin: auto;
    color:black;
 }

/* links */
.link {
    box-sizing: border-box;
    text-decoration: none;
    margin-top:0.3rem;
    margin-bottom:0.3rem;
     padding: 0.25rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 1rem;
    color: white;

}

.link-secondary {
    background-color: var(--primary-color);
    border-radius: 0.6rem;
    border: 1px solid var(--primary-color);
    color: white;
}



/* list's */
.list-non-bullet {
    list-style: none;
    
}

.list-item-inline {
    display: inline;
    padding: 0.5rem;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
   
}

/* navigation */
.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem ;

    
    
    
    

 
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 5px;

    
}

.navigation .nav-pills {
    text-align: right;
   
}

.navigation .link {
    color: white;
}



.navigation .link-active {
    font-weight: bold;
    
}


/* About Page */

/* Events page */
section {
    width: 100%;
    height: 100vh;
    
    background-size: cover;
}
   
/* Styling the left floatig section */
section .leftBox {
    width: 50%;
    height: 100%;
    float: left;
    padding: 50px;
    box-sizing: border-box;
}
   
/* Styling the background of 
    left floatig section */
section .leftBox .content {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    transition: .5s;
}
   
/* Styling the hover effect  
    of left floatig section */
section .leftBox .content:hover {
    background: #e91e63;
}
   
/* Styling the header of left 
    floating section */
section .leftBox .content h1 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-transform: uppercase;
}
   
/* Styling the paragraph of 
    left floating section */
section .leftBox .content p {
    margin: 10px 0 0;
    padding: 0;
}
   
/* Styling the three events section */
section .events {
    position: relative;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    float: right;
    box-sizing: border-box;
}
   
/* Styling the links of 
the events section */
section .events ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
}
   
/* Styling the lists of the event section */
section .events ul li {
    list-style: none;
    background: #fff;
    box-sizing: border-box;
    height: 200px;
    margin: 15px 0;
}
   
/* Styling the time class of events section */
section .events ul li .time {
    position: relative;
    padding: 20px;
    background: #262626;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    transition: .5s;
}
   
/* Styling the hover effect
    of events section */
section .events ul li:hover .time {
    background: #e91e63;
}
   
/* Styling the header of time 
    class of events section */
section .events ul li .time h2 {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 60px;
    line-height: 30px;
}
   
/* Styling the texts of time 
class of events section */
section .events ul li .time h2 span {
    font-size: 30px;
}
   
/* Styling the details 
class of events section */
section .events ul li .details {
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    float: left;
}
   
/* Styling the header of the 
details class of events section */
section .events ul li .details h3 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 22px;
}
   
/* Styling the lists of details 
class of events section */
section .events ul li .details p {
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
}
   
/* Styling the links of details
class of events section */
section .events ul li .details a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    border: 1.5px solid #262626;
    margin-top: 8px;
    font-size: 18px;
    transition: .5s;
}
   
/* Styling the details class's hover effect */
section .events ul li .details a:hover {
    background: #e91e63;
    color: #fff;
    border-color: #e91e63;
}
/*  Footers  */

.footer{
    background-color: #6B7280;
    padding:2rem 0rem ;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    text-align: center;
    color:white;
    
}
.footer .link{
    color:white;
    
}
.footer .footer-header{
    font-weight:bold;
    font-size:large;
}
.footer ul {
    padding-inline-start: 0px;

}
 .footer .footer-img{
    margin: auto;
    max-width: 250px;
    display: block;
    padding: 1rem;
 }
 
.hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

/* Card component for members */
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}
